@{
    ViewData["Title"] = "Index";
}

@{
    ViewData["Title"] = "Index";
}

<body>
    <!--Header -->
    <header>
    
  <div class="imgcontainer">
    <img src="Pictures/spvtLogo.png" alt="Avatar" class="avatar">
  </div>
        <div class="colorBar col-lg-12 col-xs-12 "><h1 class="heading" >Input New Vehicle</h1> </div>
    </header>
    
    <!--User inputer -->
<br/>
<br/>
<div class="userinput" >
<div class="form"> 
<br/>
<label>Make</label>
<input  type="text" name="Make">
<br/>
<label>Model</label>
<input  type="text" name="Model">
    <br/>
<label>Color</label>
<input  type="text" name="Color">    
    <br/>
<label>License Plate</label>
<input type"text" name="License Plate #">
    <br/>
    
    <!--Need to make submit button display user input log into view and redirect to another page (Erase comment when complete or Update comment on what need to be done) -->  
    
    <button class="btn">Submit</button>
</div>    
   </div>    

</body>