@{
    ViewData["Title"] = "Home Page";
}

<!-- header -->
    <header>
    
  <div class="imgcontainer">
    <img src="Pictures/spvtLogo.png" alt="Avatar" class="avatar">
  </div>
        <div class="colorBar col-lg-12 col-xs-12 "><h1 class="heading" >SECURITY PARKING VIOLATION TRACKER</h1> </div>
    </header>
    <br/>
    <br/>
    <!-- login form -->
    
    <form>
    <div class="container">
    <label style="color: orange"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
     <br/>
    <label style="color: orange"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br/>
        
    <!--Need to make submit button authenicate un and pw log into and redirect to index.html (Erase comment when complete or Update comment on what need to be done ) -->    
    <button class="btn" type="submit">Login</button>
      <br/>
        <a><input type="checkbox" checked="checked">  Remember me</a>
  </div>

  
</form>

